body {
    background: #fafafa;
    font-family: cabinregular, sans-serif;
    /*color: #333;*/
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /*The html and body elements cannot have any padding or margin. */
    /*background-color: #E4DDCA;*/
    /*background-color: #C7C7CC;*/
    /*background-color: #F7F7F7;*/
    background-color: #FAFAFA;
}



.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


/*
    icons
*/
.icon {
    font-size:30px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
}


/* Set the fixed height of the footer here */
#push, #footer {
    height: 60px;

}
#footer {
    /*background-color: #D3D3D3;*/
    /*margin-left: -20px;*/
    /*margin-right: -20px;*/
    width: auto;

}

#footer p, h5 {
    height:60px; line-height:60px;
    width: 90%;
    padding-left: 20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*
    for text input ( used by the modal window )
*/
textarea {
    width: 300px;
    min-width:300px;
    /*max-width:300px;*/

    height:100px;
    min-height:100px;
    /*max-height:100px;*/
}

/*textarea { resize:none; }*/

textarea { resize:vertical; }

/* For the modal widow */

body .modal .large {
    /*
     width:@modalWidth;

         margin-left:-@modalWidth/2;
         (causing error!)
     */
    width: 90%; /* desired relative width */
    left: 5%; /* (100%-width)/2 */
    /* place center */
    margin-left:auto;
    margin-right:auto;
}

body .modal .small {
    width: 350px;
    margin: 0 0 0 -175px;
}

/*
    Fonts

*/




/*} @font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf'); }*/
/*Then call it using font-family:*/
h5, a, p { font-family: cabinregular, sans-serif;  }

h1 { font-family: cabinbold, font-weight:bold; color: #222233 }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding-top: 25px;
}
.container .credit {
    margin: 20px 0;
}

.container-fluid {
    /*padding-left: 0px;*/
    /*margin-left: -20px;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 0;*/
}


.rounded {
    width: 98%;
    background: #FAFAFA;
    background-color: #FAFAFA;
    border-radius: .5rem .5rem .5rem .5rem;
    border: 1px solid #d2d2d2;


    padding-top: 5px;
    padding-bottom: 5px;

    margin-bottom: 10px;
}

.rounded p{
    margin-top: 2px;
    margin-bottom: 2px;
}

#page-content {
    margin-top: 2px;
}

.brand a{
    margin-left: 15px;
    padding-left: 15px;
}

.navbar {
    /*margin-left: 15px;*/
}


.page-header {
    /*background-color: #f5f5f5;*/
    /*background-color: #F7F7F7;*/
    height: 60px;
    margin-bottom: 5px;
}

.page-header h1 {
    /*border:1px solid red;*/
    width: 90%;
    margin-left: 14px;
    padding-top: 5px;
    height:55px; line-height:55px;
}




/*//*/
/*// D6CEC3*/
/*// E4DDCA*/



/* Optional responsive image override */
img { max-width: none; }

/* Optional responsive image override */

img{max-width:none;}


.no-top-margin {
    margin-top: -20px;
}

#side-bar{
    /*border: 1px solid red;*/
    padding-top: 0;

    border-radius: .5rem .5rem .5rem .5rem;
    border: 1px solid #d2d2d2;
}



.text-content {
    padding-top:15px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    font-size: 15px;

}

.text-content a, p {
    margin: 0;
    padding: 0;
    line-height:150%;
}

.side-bar-content{
    width: 110%;
}

.side-bar-content p, a {
    /*margin-left: 20px;*/
    margin-left: 5%;
}

.side-bar-content input {
    width: 93%;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
    border: 1px solid #d2d2d2;
    border-radius: .5rem .5rem .5rem .5rem;

    margin-top: 10px;

    background-color: #FAFAFA;
}

.side-bar-content .btn {
    margin-left: 0;
    margin-bottom: 0;
}

#side-bar hr {
    width: 100%;
    margin-left: 5px;
    /*margin-right: 5%;*/
    /*padding-left: 20px;*/
    border: 1px solid #d2d2d2;
}

#map-container {
    border: 1px solid #d2d2d2;
    border-radius: .5rem .5rem .5rem .5rem;
}



.modal-body {
    height: 600px;
}

.modal-body .scroll-loader {
    width: 310px;
    height: 140px;
    margin-left: 0px;
    margin-right: 10px;
}

.short {
    height: 125px;
    border: 3px solid #FFd2d2;
}

/* styles for the scroller */
.scroll-loader {
    background: #F7F7F7;
    background-color: #FAFAFA;
    height: 212px;
    width: 98%;
    border: 1px solid #d2d2d2;
    margin-bottom: 20px;
    overflow: auto;    /*padding: 2px 0;*/
    border-radius: .5rem .5rem .5rem .5rem;
}


.scroll-loader li {
    background: #F7F7F7;
    list-style: none;
    border-bottom: 1px solid #aaa;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left:    -20px;
    margin-right:   15px;
}


.btn-edit {
    color: #ff1d13;
    font-size: 18px;
    margin-left: 0;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
}


.list-group-item {
    /*background-color: #ff2233;*/
}

/*
    Styles for map info

*/
.info-content{
    width: 200px;
}

.info-content h1{
    font-size: 20px;
    line-height: 1;
    letter-spacing: -1px;
}

/*
    buttons
*/



.scroll-loader .btn {
    margin-left: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-edit {
    color: #ff1d13;
    text-decoration: none;
    cursor: pointer;
}

.btn-delete {
    color: #ff1d13;
}

btn-edit:hover{ color:red; }

btn-edit.disabled, btn-edit.disabled:hover{ color:blue; }


.linear-gradient {
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(top bottom, #ffffff, #dddddd);
    background-image: -moz-linear-gradient(top bottom, #ffffff, #dddddd);
    background-image: -o-linear-gradient(top bottom, #ffffff, #dddddd);
    background-image: linear-gradient(top bottom, #ffffff, #dddddd);
}

.v-gradient {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F7F7F7), color-stop(100%, #D7D7D7));
    background-image: -webkit-linear-gradient(#F7F7F7, #D7D7D7);
    background-image: -moz-linear-gradient(#F7F7F7, #D7D7D7);
    background-image: -o-linear-gradient(#F7F7F7, #D7D7D7);
    background-image: linear-gradient(#F7F7F7, #D7D7D7);
}

.grey-v-gradient {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F7F7F7), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(#F7F7F7, #f5f5f5);
    background-image: -moz-linear-gradient(#F7F7F7, #f5f5f5);
    background-image: -o-linear-gradient(#F7F7F7, #f5f5f5);
    background-image: linear-gradient(#F7F7F7, #f5f5f5);
}

.beige-v-gradient {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #D6CEC3), color-stop(100%, #E4DDCA));
    background-image: -webkit-linear-gradient(#D6CEC3, #E4DDCA);
    background-image: -moz-linear-gradient(#D6CEC3, #E4DDCA);
    background-image: -o-linear-gradient(#D6CEC3, #E4DDCA);
    background-image: linear-gradient(#D6CEC3, #E4DDCA);
}


/*
    colors
*/
.red {
    background-color: #aa976f;
}

.blue {
    background-color: #7194aa;
}

.green {
    background-color: #c0ffb8;
}

.pink {
    background-color: #ccc4cc;
}

.brown {
    background-color: #aa976f;
}

.yellow {
    background-color: #f6f529;
}


/*
    Greys in order
    Dark to light
 */


.gray {
    background-color: #808080;
}

.silver {
    background-color: #C0C0C0;
}

.midGray {
    background-color: #C7C7CC;
}

.darkGrey {
    background-color: #D7D7D7;
}

.lightGray {
    background-color: #F7F7F7;
}

.snow {
    background-color: #FFFAFA;
}

.white {
    background-color: #FFFFFF;
}


/*
    color sets:

    http://colorschemedesigner.com/export/
*/

.primary-color-dark {
    background-color: #7C5600;
}
.secondary-color-a-dark {
    background-color: #7C6800;
}
.secondary-color-b-dark {
    background-color: #7C4000;
}

.primary-color-light {
    background-color: #f9fdf1;
}
.secondary-color-a-light {
    background-color: #FDF8E0;
}
.secondary-color-b-light {
    background-color: #FDEFE0;
}
