<body>
    <div id="wrap" class="primary-color-light" >
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Map Test</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="#home">Home</a></li>
                            <li class="active"><a href="#">Launch Model</a></li>
                            <li><a href="#map">Map</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                <h1>Launch Modal</h1>
            </div>
            <div>
                <br />
                <br />
                <button class="btn" ng-click="open()">Open me!</button>
                <br />

                <div><p></p>Title: {{ obj.title }}</p></div>
                <div><p></p>Description: {{ obj.description }}</p></div>
            </div>
        </div>

    </div>
    <div id="footer">
        <div class="container">
            <p>&copy; Factornine Limited 2013</p>
        </div>
    </div>
</body>
