<body >
    <div id="wrap"  class="grey-v-gradient" >
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Interactive Map</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#map">Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin page content -->
        <div class="container">
            <div class="page-header v-gradient">
				<h1>Home</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="offset1 span10">
						<section class="text-content">
							<section class="text-center"><h2><strong>Introduction</strong></h2></section>
                        		<p>This 'Interactive Map' is  a proof of concept for using <a href="http://angularjs.org" target="_blank">Angular Javascript</a> and <a href="http://getbootstrap.com/2.3.2">Twitter Bootstrap</a> with the <a href="https://developers.google.com/maps/" target="_blank">Google Maps API</a>. Also, this is opportunity to produce an 'app' using HTML5 and Javascript as opposed to Flash.</p>
								<br />
								<p>The functionality of the 'Interactive Map' is simple and straightforward, the user can zoom  to preset locations and add their own. Also, the Google Markers can be edited with different text and a choice of icons.</p>
						</section>
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="span4">
					<section class="text-content text-center">
						<h3><strong>Code</strong></h3>
						<p>I've chosen Angular as the Javascript framework to focus on because I believe it provides a fast and tidy way to develop code and the Angular community is large and supportive.</p>
						<br />
						<p>Although this is small single page app I used the <a href="http://yeoman.io">Yeoman, Bower and Grunt</a> workflow to create the project dependancies and to test the application. This was a broadening of my experience of using OSX command line and Cygwin.</p>
					</section>
				</div>
				<div class="span4">
					<section class="text-content text-center">
						<h3><strong>Design</strong></h3>
						<p>Twitter Bootstrap is integrated within the Yeoman workflow and allows for development of a neat responsive design.</p>
						<br />
						<p>As my focus is programming as opposed to design I made the design as neutral as possible. The subtle blends and use the <a href="http://www.impallari.com/cabin" title="Download Cabin Font. Impallari Type" target="_blank">Cabin font</a> rather than Helvetica has hopefully made the app look less like a bootstrap site.</p>
					</section>
				</div>
				<div class="span4">
					<section class="text-content text-center">
						<h3><strong>Resources</strong></h3>
						<p>The <a href="http://docs.angularjs.org/guide/" title="Developer Guide" target="_blank">Angularjs</a> site has a wealth of resources and see the list of available <a href="http://heldr.github.io/bower-components/" title="Bower components" target="_blank">Bower components</a>.</p><br />
						<p>See the <a href="https://developers.google.com/maps/documentation/javascript/reference" target="_blank">Google Maps Javascript API</a> for a comprehensive guide to implementing the map functionality. </p><br />
						<p>The icons I used were downloaded from the <a href="http://mapicons.nicolasmollet.com/" title="Map Icons Collection | Google Maps Icons, Map Markers, Free POI Icons, GIS Symbols" target="_blank">Map Icons Collection</a>. And, I used the Font Squirrel <a href="http://www.fontsquirrel.com/tools/webfont-generator" title="Create Your Own @font-face Kits | Font Squirrel target="_blank"">Webfont Generator</a> to create the assets and CSS for the Cabin webfont.</p>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="span3">
				</div>
				<div class="span6">
					<section class="text-content text-center">
						<h3><strong>Future</strong></h3>
						<p>I'm very interested in developing mobile applications, although this app is primarily made for desk-top. I intend to make mobile specific applications using HTML5, Javascript using PhoneGap.</p>
						<br />
						<p>I'll post my Angular thoughts on the <a href="http://factornine.wordpress.com/ " title="factornine blog | flash actionscript and iPhone blog" target="_blank">Factornine Blog</a>.</p>
					</section>
				</div>
				<div class="span3">
				</div>
			</div>
			<div class="row">
				<br />
				<br />
			</div>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        <div class="v-gradient">
            <p>&copy; Factornine Limited 2013</p>
        </div>
    </div>
</body>