<body >
    <div id="wrap" class="grey-v-gradient">

        <!-- Fixed navbar -->
        <div class="navbar navbar-fixed-top navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container ">
                    <a class="brand" href="#">Interactive Map</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="#home">Home</a></li>
                            <li class="active"><a href="#">Map</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <!-- Begin page content -->
        <div class="container">
            <div class="page-header v-gradient">
                <h1>Map View</h1>
            </div>
            <section >
                <div id="row" class="row">
                    <div class="span3">
                        <div class="side-bar-content">
                            <div class="rounded">
                                <p>
                                    Latitude: {{ model.center.latitude | number:2 }}
                                </p>
                                <p>
                                    Longitude: {{ model.center.longitude | number:2 }}
                                </p>
                                <p>
                                    Zoom: {{ model.zoom | number:2 }}
                                </p>
                            </div>
                        </div>
                        <div class="side-bar-content">
                            <a class="btn" ng-click="findMe()">
                                <i class="icon-screenshot"></i>
                                Find me
                            </a>
                        </div>
                        <div class="side-bar-content">
                            <input type="text" placeholder="Search for locations: " ng-model="query" >
                            <div>
                            </div>
                            <div infinite-scroll="addItems()" class="scroll-loader" can-load="canLoad" threshold="90">
                                <ul>
                                    <li ng-repeat="item in items | filter: search">
                                        <a class="btn btn-edit" ng-click="edit( item )">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <a class="btn" ng-click="panTo( item )">{{item.title}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p></p>
                    </div>
                    <div class="span9">
                        <div id="map-container">
                            <section id="map" resize>
                                <!-- this is the confusing part. we have to point the map marker directive
                                at an existing google.maps.Marker object, so it can hook up events -->
                                    <div ng-repeat="marker in model.markers" ui-map-marker="model.markers[$index]"
                                    ui-event="{'map-click': 'openMarkerInfo( marker )'} ">
                                    </div>
                                    <div>
                                        <div id="googleMap" ui-map="model.myMap" ui-options="mapOptions" class="map"
                                        ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())',
                                        'map-center_changed': 'onCenterChanged( myMap.getCenter() )', 'map-tilesloaded':'onTilesLoaded( myMap )' }" >
                                        </div>
                                    </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="push"></div>
    </div>
    <div id="footer" class="v-gradient">
          <p>&copy; Factornine Limited 2013</p>
    </div>
</body>

