<div class="modal small">
    <body >
        <div class="modal-header">
            <h3>Add Details</h3>
        </div>
        <div class="modal-body">
            <form name="inputForm">
               <p>Title:</p> <input name="myInput" type="text" ng-model="input.title"  ng-maxlength="29" maxlength="30" required>
                <!--<br />-->
                <span class="error" ng-show="inputForm.myInput.$error.maxlength"><p>You are limited to twenty characters for the title.</p>
                 <br />
                </span>
               <p>Description:</p><textarea ng-model="input.description"></textarea>
                <!--<br />-->
                <div class="scroll-loader">
                    <ul ng-model="input.icons">
                        <li ng-repeat="icon in input.icons">
                            <a class="btn"> <img ng-src="{{ icon.icon }}" ng-click="selectIcon( icon )"> </a>
                            - {{ icon.name}}
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="btn btn-delete" name="input" ng-show="input.edit" ng-click="delete( )">
                Delete <i class="icon-minus"></i>
            </a>
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </body>
</div>